@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}

body {
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  background: #e5e5e5;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.container {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 50px;
  background: white;
  height: 110vh;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/bg-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 26px;
  margin-right: 36px;
  margin-top: 20px;
  color: #6070ff;
}

.logo {
  padding-top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

ul a:link,
ul a:visited {
  color: #505f79;
}

.header a:visited,
.header a:link {
  color: #6070ff;
}

.menu {
  align-items: flex-start;
}

.title {
  display: flex;
  font-size: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 43px;
  color: #172b4d;
}

.intro-text {
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  padding-left: 25px;
  padding-right: 30px;
  padding-bottom: 10px;
  line-height: 24px;
}

.action-connect {
  display: flex;
  padding-left: 25px;
  text-transform: uppercase;
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
}

ul {
  display: flex;
  list-style-type: none;
  color: #505f79;
  font-size: 24px;
  justify-content: flex-start;
  text-decoration: none;
  margin: 0;
  padding-left: 25px;
}

li {
  padding-right: 16px;
}

.grid-section {
  display: grid;
}

.works-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border: 1px solid #dfe1e6;
  height: auto;
  padding: 16px;
  border-radius: 16px;
  margin-top: 50px;
}

.project-name {
  text-transform: uppercase;
  padding-top: 25px;
  line-height: 44px;
  font-size: 32px;
  font-weight: 700;
}

.text-neutrals-N50 {
  color: #c1c7d0;
}

.divider {
  color: #c1c7d0;
  font-size: 8px;
}

.client-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
}

.client-name {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: #344563;
}

.client-details-other {
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  align-items: baseline;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: #7a869a;
}

.project-details {
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: #344563;
  width: 80%;
}

.project-stack {
  display: flex;
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-between;
  align-items: baseline;
  width: 60%;
}

.label {
  background: #ebebff;
  color: #6070ff;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

button {
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  padding: 12px;
  width: 150px;
  border: 1px solid #7f8cff;
  box-sizing: border-box;
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 15px;
}

button:hover {
  color: white;
  background-color: #6070ff;
}

button:active {
  color: white;
  background-color: #2230d2;
}

button:disabled {
  color: #5e6c84;
  background-color: #505f79;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #fff;
  border: 1px solid #dfe1e6;
  height: auto;
  padding: 16px;
  margin-top: 50px;
  border-top-right-radius: 50px;
}

.about-me-title {
  font-size: 40px;
}

.about-me-text {
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  line-height: 24px;
}

.connect {
  display: flex;
  text-transform: uppercase;
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
}

ul.social {
  display: flex;
  list-style-type: none;
  color: #505f79;
  font-size: 24px;
  justify-content: flex-start;
  text-decoration: none;
  margin: 0;
  padding-left: 0;
}

ul.skills {
  display: flex;
  flex-direction: column;
  list-style-type: square;
  font-size: 15px;
}
