@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}

body {
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  background: #e5e5e5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px;
  height: 90vh;
  border-bottom-left-radius: 50px;
  background: white;
}

.main-content {
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/bg-image.jpg");
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-bottom: 20px;
  color: #6070ff;
}

.logo {
  padding-top: 15px;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.menu {
  align-items: flex-start;
}

.title {
  display: flex;
  font-size: 40px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: #172b4d;
}

.intro-text {
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 24px;
}

.action-connect {
  display: flex;
  padding: 10px;
  text-transform: uppercase;
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
}

.social-media-buttons {
  display: flex;
  color: #505f79;
  font-size: 24px;
  justify-content: space-around;
  align-items: flex-start;
  align-items: baseline;
  flex-grow: 1;
}
