@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}

body {
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  background: #e5e5e5;
  margin: 0;
}

.menu-overlay {
  display: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  color: #6070ff;
  background: white;
  margin: 0;
}

.logo {
  padding-top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  animation: rotate-logo 2s;
}

@keyframes rotate-logo {
  to {
    transform: rotateZ(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 80px;
  background: white;
  background-image: url('../images/desktop-header-bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80%;
  height: 100vh;
  margin: 0;

  /* border: solid 5px pink; */
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100vh;
  margin-left: 300px;

  /* border: solid 5px blue; */
}

.title {
  display: flex;
  font-size: 40px;
  color: #172b4d;
}

.intro-text {
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  line-height: 24px;
  width: 70%;
}

.action-connect {
  display: flex;
  text-transform: uppercase;
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
}

.social-links {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 0;
  font-size: 20px;
  padding-top: 0;
}

a,
.sub-list {
  text-decoration: none;
  color: black;
}

.header a:visited,
.header a:link {
  color: #6070ff;
}

.menu {
  display: flex;
  list-style-type: none;
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  gap: 20px;
  align-items: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.menu a:link {
  text-decoration: none;
  color: #344563;
}

.mobile-menu {
  display: none;
}

.social-links a:link,
.social-links a:visited {
  color: #505f79;
}

.grid-section {
  display: grid;
}

.works-content {
  display: flex;
  justify-content: flex-start;
  background: #fff;
  border: 1px solid #dfe1e6;
  padding: 16px;
  border-radius: 16px;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
}

.project-body {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.project-name {
  text-transform: uppercase;
  padding-top: 25px;
  line-height: 44px;
  font-size: 32px;
  font-weight: 700;
}

.text-neutrals-N50 {
  color: #c1c7d0;
}

.divider {
  color: #c1c7d0;
  font-size: 8px;
}

.client-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 40%;
}

.client-name {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: #344563;
}

.client-details-other {
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  align-items: baseline;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: #7a869a;
}

.project-details {
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #344563;
  width: 80%;
}

.project-stack {
  display: flex;
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-between;
  align-items: baseline;
  width: 33%;
}

.label {
  background: #ebebff;
  color: #6070ff;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.label:hover {
  background-color: darkblue;
  color: white;
}

.project-image {
  transition: all 0.5s ease-in-out;
}

.project-image:hover {
  transform: scale(1.05);
}

.bottom-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-right-radius: 80px;
  border: 1px solid #dfe1e6;
  margin-top: 20px;
}

.about-me {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 100px;
}

.display-left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.display-right {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.about-me-title {
  font-size: 40px;
}

.about-me-text {
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  line-height: 24px;
  width: 80%;
}

ul.main-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 80%;
}

li.main-list-item {
  font-size: 20px;
}

li.sub-list-item {
  padding: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 5px;
  width: 100%;
}

ul.sub-list {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  justify-content: center;
  padding: 10px;
  list-style-type: none;
  font-size: 15px;
  vertical-align: middle;
  gap: 10px;
}

.language-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skills-heading {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skills-separator {
  border-color: #dfe1e6;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6070ff;
  border: 1px solid #dfe1e6;
  border-top-left-radius: 80px;
  padding: 60px;
}

.contact-body {
  background-image: url('../images/contact-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  color: #fff;
  font-size: 40px;
}

.contact-text {
  text-align: center;
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  width: 80%;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_input {
  background: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 70%;
  margin-top: 15px;
  padding: 10px;
}

.submit {
  display: flex;
  text-align: center;
  align-items: flex-start;
}

button {
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  padding: 12px;
  width: 150px;
  border: 1px solid #7f8cff;
  box-sizing: border-box;
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

button:hover {
  color: white;
  background-color: #6070ff;
}

button:active {
  color: white;
  background-color: #2230d2;
}

button:disabled {
  color: #5e6c84;
  background-color: #505f79;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border: 1px solid #dfe1e6;
  height: auto;
  padding: 16px;
  border-radius: 16px;
  margin-left: 18%;
  width: 70%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.close {
  margin-right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-window {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-project-image {
  width: 100%;
  height: auto;
  padding: 10px;
}

.popup-project-details {
  display: flex;
  margin-bottom: 30px;
}

.column-left {
  width: 70%;
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  padding-left: 25px;
  padding-right: 30px;
  padding-bottom: 10px;
  line-height: 24px;
}

.column-right {
  width: 40%;
}

.popup-project-stack {
  display: flex;
  font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
}

.popup-project-buttons {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .popup {
    margin: 28px;
    padding: 23px;
  }

  .popup-project-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .column-left {
    width: 90%;
  }

  .menu-overlay {
    display: block;
    position: absolute;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    background-color: hsl(234, 100%, 69%);
    transform: translateX(0);
    transition: transform 0.35s ease-in-out;
  }

  .hide-menu {
    top: 0.05px;
    right: -443px;
    display: none;
  }

  .menu-overlay .hide-menu {
    transform: translateX(100%);
  }

  .menu-close {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    color: white;
    font-size: 36px;
    padding-right: 25px;
    margin-top: 10px;
  }

  .hide-hamburger {
    display: none !important;
  }

  .mobile-menu-items a {
    display: flex;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    margin-bottom: 32px;
  }

  .mobile-menu-items a:link {
    color: white;
  }

  .mobile-menu-items a:visited {
    color: white;
  }

  .header {
    display: flex;
    justify-content: center;
    gap: 50%;
    align-items: baseline;
    margin: 0;
    color: #6070ff;
    background: white;
  }

  .logo {
    padding-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }

  .mobile-menu {
    display: flex;
    list-style-type: none;
  }

  .mobile-menu a:link {
    text-decoration: none;
    color: #6070ff;
  }

  .menu {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 50px;
    background-image: url('./bg-image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 80vh;
  }

  .welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    margin-left: 0;
    width: 90%;

    /* border: solid 5px gold; */
  }

  .title {
    display: flex;
    font-size: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 100px;
    color: #172b4d;
    width: 80%;
  }

  .intro-text {
    font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #344563;
    padding-left: 25px;
    padding-right: 30px;
    padding-bottom: 10px;
    line-height: 24px;
    width: 80%;
  }

  .action-connect {
    display: flex;
    text-transform: uppercase;
    color: #7f8cff;
    font-size: 16px;
    line-height: 24px;
    padding-left: 25px;
  }

  .social-links {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding-left: 25px;
    padding-top: 0;
    font-size: 20px;
  }

  .works-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border: 1px solid #dfe1e6;
    height: auto;
    padding: 16px;
    border-radius: 16px;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
  }

  .project-image {
    width: 100%;
    height: auto;
  }

  .project-body {
    margin: 0;
  }

  .client-details {
    width: 70%;
  }

  .project-stack {
    width: 60%;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: flex-start;
  }

  .display-left {
    width: auto;
    justify-content: stretch;
    padding: 25px;
  }

  .display-right {
    width: auto;
    justify-content: stretch;
  }

  .main-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 80%;
  }

  .about-me .action-connect,
  .about-me .social-links {
    padding-left: 0;
  }

  .main-list-item {
    font-size: 20px;
  }

  ul.sub-list-item {
    flex-direction: column;
  }

  ul.sub-list {
    flex-direction: column;
  }

  .language-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .skills-heading {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .skills-separator {
    border-color: #dfe1e6;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #6070ff;
    border: 1px solid #dfe1e6;
    border-top-left-radius: 50px;
    padding: 0;
  }

  .contact-body {
    text-align: center;
    align-items: flex-start;
    background-image: url('../images/contact.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    padding: 15px;
  }

  .contact-intro {
    width: 100%;
  }

  .contact-title {
    color: #fff;
    font-size: 40px;
  }

  .contact-text {
    font-family: 'PoppinsLight', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    width: 80%;
  }

  .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form_input {
    background: white;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    width: 90%;
    margin-top: 15px;
    padding: 10px;
  }

  .submit {
    display: flex;
    text-align: center;
    align-items: flex-start;
  }
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

.error {
  padding: 0;
  margin-top: 5px;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
